/* ******************************************************** */
/* ************************* BODY ************************* */
/* ******************************************************** */
body{
    /* background-color: brown; */
    background-color: rgb(231, 231, 231);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    height: 100vh;
    width: 100vw;
}

/* ******************************************************** */
/* ******************* MENÚ DE NAVEGACIÓN ***************** */
/* ******************************************************** */
.menu-navegacion{
    grid-area: menu-navegacion;
    /* background-color: red; */
    background-color: rgb(37, 82, 123);
    color: white;
    align-content: center;
    text-align: center;
}

nav h3{
    font-weight: 400;
    /* font-size: 1.5rem; */
}

/* ******************************************************** */
/* ********************* MENÚ LATERAL ********************* */
/* ******************************************************** */
.menu-lateral{
    grid-area: menu-lateral;
    /* background-color: aquamarine; */
    /* se usa flex para alinear contenido */
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px;
}

.menu-lateral h2{
    color: rgb(56, 61, 70);
} 

.menu-lateral article p{
    margin-bottom: 5px;
    color: rgb(56, 61, 70);
}

.menu-lateral article{
    width: 85%;
}

/* ******************************************************** */
/* ********************** PRODUCTOS *********************** */
/* ******************************************************** */
.productos{
    grid-area: productos;
    /* background-color: blueviolet; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px 10px 10px 0px;
    /* border: solid 2px red; */
}

.producto-1{
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    gap: 10px;
}

/* .card-body{
    width: 100%;
    height: 60%;
    flex-grow: 1;
} */
.bg-producto-1{
    background-image: url("../image/perfume.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 60%;
    /* width: 4rem; */
    /* border: solid 3px chocolate; */
    flex-grow: 1;
}

.producto-2{
    /* grid-area: producto-2; */
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    gap: 10px;
}

.bg-producto-2{
    background-image: url("../image/polera.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 60%;
    /* width: 4rem; */
    /* border: solid 3px chocolate; */
    flex-grow: 1;
}

.producto-3{
    /* grid-area: producto-3; */
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    gap: 10px;
}

.bg-producto-3{
    background-image: url("../image/cartera.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 60%;
    /* width: 4rem; */
    /* border: solid 3px chocolate; */
    flex-grow: 1;
}

.producto-4{
    /* grid-area: producto-4; */
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    gap: 10px;
}

.bg-producto-4{
    background-image: url("../image/zapatos.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 60%;
    /* width: 4rem; */
    /* border: solid 3px chocolate; */
    flex-grow: 1;
}

button{
    width: 100%;
    border: none;
    background-color: rgb(37, 82, 123);
    color: white;
    height: 1.5rem;
}

.precio{
    color: rgb(60, 66, 76);
    font-weight: 300;
}

/* ******************************************************** */
/* ******************** PIE DE PÁGINA ********************* */
/* ******************************************************** */
.pie-pagina{
    grid-area: pie-pagina;
    /* background-color: chartreuse; */
    background-color: rgb(255, 255, 255);
    color: rgb(60, 66, 76);
    align-content: center;
    text-align: center;
}

footer h4{
    font-weight: 400;
}

/* ******************************************************** */
/* ******************** LAYOUT GENERAL ******************** */
/* ******************************************************** */
.layout-general{
    display: grid;
    height: 100vh;
    grid-template-areas: 
    'menu-navegacion menu-navegacion'
    'menu-lateral productos'
    'pie-pagina pie-pagina';
    /* se define los tamaños que ocupa cada área en el diseño general */
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 12fr 1fr;
}